body {
    background-color: var(--background-color);
}

/* navbar section is in the file '/static/navbar.css */

h1 {
    padding: 0.5rem 0 0 2rem;
    font-family: "Open Sans", sans-serif;
    font-size: 2.8rem;
    border-bottom: solid var(--navbar-menu-slider-background-color) 3px;
    color: var(--font-color);
}

.intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    padding-bottom: 50px;
}

@media only screen and (max-width: 675px) {
    .intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--background-color);
        padding-bottom: 50px;
        padding-top: 50px;
    }
}

img {
    height: 220px;
    width: 220px;
}

.dot {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: black;
    margin-top: -220px;
    margin-left: -15px;
    z-index: -1;
}

.intro-text {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}

h2 {
    font-family: "Open Sans", sans-serif;
    color: var(--font-color3);
    padding-bottom: 0.5rem;
    border-bottom: solid var(--navbar-menu-slider-background-color) 3px;
}

.info-text {
    color: var(--font-color);
}

.wrap-collabsible, .wrap-collabsible2, .wrap-collabsible3 {
    margin-bottom: 1.2rem 0;
}
  
input[type='checkbox'] {
    display: none;
}
  
.lbl-toggle, .lbl-toggle2, .lbl-toggle3 {
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    text-align: center;
    padding: 1rem;
    color: #F8F9FA;
    background: var(--navbar-menu-slider-background-color);
    cursor: pointer;
    transition: all 0.25s ease-out;
}

.lbl-toggle:hover, .lbl-toggle2:hover, .lbl-toggle3:hover {
    background: var(--opacity-background);
}
  
.lbl-toggle::before, .lbl-toggle2::before, .lbl-toggle3::before {
    content: ' ';
    display: inline-block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;    
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);
    transition: transform .2s ease-out;
}
  
.toggle:checked + .lbl-toggle::before,
.toggle2:checked + .lbl-toggle2::before,
.toggle3:checked + .lbl-toggle3::before   {
    transform: rotate(90deg) translateX(-3px);
}
  
.collapsible-content, .collapsible-content2, .collapsible-content3 {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
}
  
.toggle:checked + .lbl-toggle + .collapsible-content,
.toggle2:checked + .lbl-toggle2 + .collapsible-content2,
.toggle3:checked + .lbl-toggle3 + .collapsible-content3
 {
    max-height: 1000px;
}
  
.toggle:checked + .lbl-toggle,
.toggle2:checked + .lbl-toggle2,
.toggle3:checked + .lbl-toggle3 {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
