body {
    background-color: var(--background-color);
}

.navbar {
    background-color: #DA1E37;
    padding: 1rem 0rem 1rem 0rem;
    width: 100%;
}

a {
    text-decoration: none;
}

/* Page title */
h1 {
    color: var(--font-color2);
    font-family: "Raleway", sans-serif;
    text-align: center;
}

.breadtrail {
    padding-left: 0.5rem;
    font-size: 0.8rem;
    font-family: "Red Hat Mono", sans-serif;
    text-align: left;
    color: var(--font-color);
}

a {
    color: #DA1E37;
}

.introduction-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
}

/* Text above python project section */
h2 {
    color: var(--font-color);
    font-family: "Raleway", sans-serif;
    font-size: 2rem;
    font-weight: 100;
    text-align: center;
}

h4 {
    color: var(--font-color);
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    font-weight: 100;
    text-align: center;
}

/* Python project section title */
h3 {
    color: var(--font-color);
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
    font-weight: 100;
    padding: 0 0 1rem 0.5rem;
}

.python-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    padding-top: 3rem;
}

.fa-python {
    padding-left: 0.5rem;
    color: #306998;
}

/* Python project list*/
.python-project-list {
    margin: auto;
    border-bottom: solid #DA1E37 3px;
    width: 65%;
}

.list {
    padding: 1rem 0 1rem 1rem;
    border-bottom: solid dimgray 1px;
    list-style-type: none;
}

.list:last-child {
    border-bottom: none;
}

.list:hover {
    background-color: rgba(173, 181, 189, 0.8);
}

.wrapper {
    flex-direction: column;
}

.top-row {
    display: flex;
    flex-direction: row;
}

h5 { 
    font-family: "Raleway", sans-serif;
    color: var(--font-color);
}

.top-row {
    align-items: center;
}

.top-row h5 {
    font-size: 1.2rem;
    padding-left: 0.5rem;
}

.bottom-row h5 {
    font-weight: 100;
    font-size: 0.8rem;
}

.list-icon {
    color: var(--font-color);
}
