body {
    height: 100%
  }
  html {
    position: relative;
    min-height: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  
  .two-containers {
    background-color: #DA1E37;
  }
  
  /* ---------- container 1 ---------- */
  .scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  
  .card {
    flex: 0 0 auto;
  }
  
  .container-1 {
    display: flex;
    overflow: hidden;
    flex-direction: row;
    width: 25%; 
    margin: 0 auto;
    font-family: "Raleway", sans-serif;
    font-size: 0.9rem;
    color: white;
  }
  
  @media only screen and (max-width: 2300px) {
    .container-1 {
      display: flex;
      overflow: hidden;
      flex-direction: row;
      width: 35%; 
      margin: 0 auto;
    }
  }
  
  @media only screen and (max-width: 1820px) {
    .container-1 {
      display: flex;
      overflow: hidden;
      flex-direction: row;
      width: 45%; 
      margin: 0 auto;
    }
  }
  
  @media only screen and (max-width: 1400px) {
    .container-1 {
      display: flex;
      overflow: hidden;
      flex-direction: row;
      width: 60%; 
      margin: 0 auto;
    }
  }
  
  @media only screen and (max-width: 1000px) {
    .container-1 {
      display: flex;
      overflow: hidden;
      flex-direction: row;
      width: 85%; 
      margin: 0 auto;
    }
  }
  
  @media only screen and (max-width: 675px) {
    .container-1 {
      display: flex;
      overflow: hidden;
      flex-direction: row;
      width: 100%; 
      margin: 0 auto;
    }
  }
  
  @media only screen and (max-width: 550px) {
    .container-1 {
      display: flex;
      overflow: hidden;
      flex-direction: row;
      width: 100%; 
      margin: 0 auto;
      overflow: auto;
      white-space: nowrap;
    }
  }
  
  .top-row {
      display: flex;
      flex-direction: row;
      text-align: center;
  }
  
  .bottom-row {
      display: flex;
      flex-direction: row;
      text-align: center;
  }
  /* ---------- container 2 ---------- */
  /* --- start of search bar --- */
  div {
      box-sizing: border-box;
      width: 100%;
  }
  
  .js-search-box {
    width: 400px;
    border-radius: 0%;
    border: solid dimgray 1.5px;
  }
  
  .js-search-box:focus {
    border: solid rgb(0, 150, 199) 2.5px;
  }
  
  input:focus {
    outline: none !important;
  }
  
  ::placeholder {
    font-style: italic;
    font-size: 1em;
    padding: 5px;
    text-transform: lowercase;
  }
  
  .search-results {
    background-color: #F8F9FA;
    border: solid dimgray 1px;
    z-index: 10;
    margin: auto;
    text-align: center;
    width: 400px;
    margin-top: -1rem;
  }
  
  .drop-down-list {
    padding-top: 0.5rem;
  }
  
  ul {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  a:hover {
    color: #DA1E37
  }
  /* --- end of search bar --- */
  .container-2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  #inner-cell-2-1 {
    text-align: center;
    padding: 0 0 1rem 0;
    order: 2;
  }
  
  #inner-cell-2-2 {
    text-align: center;
    font-size: 18px;
    padding: 1.5rem 0 1rem 0;
    order: 1;
  }
  
  @media only screen and (max-width: 950px) {
    .container-2 {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      text-align: center;
    }
  
    #inner-cell-2-1 {
      text-align: center;
      padding-bottom: 0.9rem;
    }
  
    #inner-cell-2-2 {
      text-align: center;
      font-size: 18px;
    }
  }
  
  @media only screen and (max-width: 520px) {
    
    .container-2 {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
    
    #inner-cell-2-1 {
      text-align: center;
      padding-bottom: 0.9rem;
    }
  
    #inner-cell-2-2 {
      text-align: center;
      font-size: 18px;
    }
  }
  /* ---------- end container 2 ---------- */
  /* ---------- end of navigation bar area ---------- */
  /* ---------- body ---------- */
  body {
      margin: 0;
      background-color: #FBFBFF;
  }
  /* ---------- end of body ---------- */
  .date {
    color: #FFF;
  }
