.footer {
    border-top-style: dashed;
    border-color: rgba(108, 117, 125, 0.5);
    bottom: 0px;
    height: 20%;
    position: absolute;
    width: 100%;
}

@media only screen and (max-width: 1150px) {
    .footer {
      border-top-style: dashed;
      border-color: rgba(108, 117, 125, 0.5);
      bottom: 0;
      height: 20%;
      position: relative;
      width: 100%;
    }
}

.footer-text {
    display: flex;
    justify-content: center;
    font-family: Quicksand, sans-serif;
    padding-top: 12px;
    font-size: 12px;
text-align: center;
}

.logos {
    display: flex;
    justify-content: center;
    flex: 1 0 auto;
    flex-shrink: 0;
}

.fa-brands {
    padding-top: 24px;
}

.fa-github {
    padding-right: 24px;
    color: #6C757D;
}

.fa-linkedin {
    padding-right: 24px;
    color: #0e76a8;
}

.fa-twitter {
    color: #1DA1F2;
}
