.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
    padding: 1rem 0rem 1rem 0rem;
    background-color: #DA1E37;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.fa-brands {
    color: var(--brand-color);
}

h1 {
    font-size: 2.5rem;
    font-family: "Raleway", sans-serif;
    font-weight: 100;
    border-bottom: solid #DA1E37 1px;
}

h2 {
    font-size: 1.8rem;
    font-family: "Raleway", sans-serif;
    font-weight: 100;
}

h5 {
    font-size: 1rem;
    font-family: "Red Hat Mono", monospace;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    color: var(--font-color);
}

.area {
    background: var(--background-color);  
    width: 100%;
    height: 100%;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    animation: animate 25s linear infinite;
    bottom: -150px;
}

/* code icon */
.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
    color: yellow;
}

/* music note icon */
.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
    color: pink;
}

/* suitcase icon */
.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
    color: red;
}

/* dollar sign icon */
.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
    color: green;
}

/* passport icon */
.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
    color: blue;
}

/* book icon */
.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
    color: orange;
}

/* guitar icon */
.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    color: indigo;
}

/* controler icon */
.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
    color: darkgrey;
}

/* coffee pot */
.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
    color: turquoise;
}

/* rock n' roll icon */
.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
    color: brown;
}

@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}
