<html>
  <head>
    <script src="https://kit.fontawesome.com/84587c6ecd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Montserrat|Quicksand">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='home_footer.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='floating_buttons.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <title>minimalfire.app</title>
  </head>
  <body>

    <a href="https://minimalfire.app/" class="float">
      <i class="fa-solid fa-bars my-float"></i>
    </a>
    
    <div class="container-1">
      <i class="fa-duotone fa-fire-flame-curved fa-4x"></i>
    </div>
    
    <div class="container-2">
      <h2>Welcome to my personal site</h2>
      <h3>This hosts my personal projects as well as information about me. Look around to learn more!</h3>
    </div>
    
   <h4 style="text-align: center;">Site content<br>Click the menu button in the bottom right with the corresponding icon to view the tool!</h4>
    <div class="container-3">
      <div class ="box-1">
        <div class="column-1">
          <h4>Financial tools</h4>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fa-regular fa-check"></i></span>Search for companies and ETFs to view key metric ratios</li>
            </ul>
         </div>
         <div class = "column-2">
           <i class="fa-light fa-chart-line fa-4x"></i>
         </div> 
      </div>
      
      <div class ="box-2">
        <div class="column-1">
          <h4>Not available</h4>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fa-regular fa-check"></i></span>Future feature in the works</li>
            </ul>
         </div>
         <div class = "column-2">
          <i class="fa-regular fa-xmark fa-4x"></i>
         </div> 
      </div>
      <div class ="box-3">
        <div class="column-1">
          <h4>Not available</h4>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fa-regular fa-check"></i></span>Future feature in the works</li>
            </ul>
         </div>
         <div class = "column-2">
          <i class="fa-regular fa-xmark fa-4x"></i>
         </div>
      </div>
    </div>
    
    <h4 style="text-align: center;">About this site</h4>
    <div class="container-3">
      <div class ="box-1">
        <div class="column-1">
          <h4>Containerized</h4>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fa-regular fa-check"></i></span>Scalable, serverless web application built upon container and Knative open standards</li>
            </ul>
         </div>
         <div class = "column-2">
           <i class="fa-light fa-cubes fa-4x"></i>
         </div> 
      </div>
      
      <div class ="box-2">
        <div class="column-1">
          <h4>Built on the cloud</h4>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fa-regular fa-check"></i></span>Built on Google Cloud Platform with Cloud Run and Firebase Hosting</li>
            </ul>
         </div>
         <div class = "column-2">
           <i class="fa-light fa-cloud-check fa-4x"></i>
         </div> 
      </div>
      <div class ="box-3">
        <div class="column-1">
          <h4>Lightweight web framework</h4>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fa-regular fa-check"></i></span>Python backend carried by the scalable Flask framework</li>
            </ul>
         </div>
         <div class = "column-2">
          <i class="fa-light fa-code fa-4x"></i>
         </div>
      </div>
    </div>
    
    <!-- footer -->
    <div class="footer">
      <div class="footer-text">
          Icons sourced from Font Awesome<br>
          View my social media profiles down below!
      </div>
  
      <div class="logos">
          <a href="https://github.com/SquareHammer89/minimalfire-web-app">
              <i class="fa-brands fa-github fa-3x"></i>
          </a>
          <a href="https://www.linkedin.com/in/christian-sanchez-nv/">
              <i class="fa-brands fa-linkedin fa-3x"></i>
          </a>
          <a href="https://twitter.com/MinimalFire_app">
              <i class="fa-brands fa-twitter fa-3x"></i>
          </a>
      </div>
    </div>

  </body>
</html>
