/* Light theme colors */
:root {
    --background-color: #F8F9FA;
    --navbar-menu-slider-background-color: #DA1E37;
    --opacity-background: rgba(218, 30, 55, 0.6);
    --box-shadow: rgba(0, 0, 0, 0.5);
    --font-color: black;
    --font-color2: #F8F9FA;
    --font-color3: #DA1E37;
    --hyperlink: #DA1E37;
}

/* Dark theme colors */
[data-theme="dark"] {
    --background-color: rgba(19, 27, 39);
    --navbar-menu-slider-background-color: rgba(31, 41, 70);
    --opacity-background: rgba(31, 41, 70, 0.6);
    --box-shadow: rgba(90, 90, 90, 0.9);
    --font-color: #F8F9FA;
    --font-color2: black;
    --font-color3: #F8F9FA;
    --hyperlink: rgb(52, 85, 173);
}

.theme-switch-wrapper {
    display: flex;
    align-items: center;
}

.theme-switch {
    display: inline-block;
    height: 34px;
    position: fixed;
    width: 60px;
    top: 90%;
    right: 55px;
}
.theme-switch input {
    display: none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

input:checked + .slider {
    background-color: var(--navbar-menu-slider-background-color);
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.dark-light-icon {
    position: fixed;
    top: 90%;
    right: 16px;
    color: var(--font-color);
}
