<html>
<head>
    <link rel="icon" type="image/x-icon" href="https://storage.googleapis.com/personal-website-nv-bucket/ghost-regular.svg">
    <script src="https://kit.fontawesome.com/84587c6ecd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans|Red Hat Mono">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='pages/about/about.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='pages/about/sections/me.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='pages/about/sections/timeline.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='pages/about/sections/website.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='floating_button.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='light_dark_theme.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <title>About | Digital Ghost</title>
</head>
<body>

    <!-- Top portion of page -->
    <div>
        <div class="navbar">
            <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/digitalghostdev/">
                <i class="fa-brands fa-twitter fa-3x"></i>
            </a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/christian-sanchez-nv/">
                <i class="fa-brands fa-linkedin fa-3x"></i>
            </a>
            <a target="_blank" rel="noopener noreferrer" href="https://github.com/digitalghost-dev/website">
                <i class="fa-brands fa-github fa-3x"></i>
            </a>
        </div>
        <div class="under-navbar">
            <!-- Page title -->
            <div>
                <h1>About</h1>
            </div>
            <div class="breadcrumb">
                <ul class="breadcrumb">
                    <li><a href="www.christiansanchez.dev">home</a></li>
                    <li style="color:var(--font-color);">about</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Introduction section -->
    <div class="intro">
        <div class="profile">
            <img src="https://storage.googleapis.com/personal-website-nv-bucket/memoji.PNG">
            <div class="dot"></div>
        </div>
        <div class="intro-text">
            <h2>
                Curious to learn more?
            </h2>
            <p class="info-text" style="padding-top: 0.25rem;">
                Click on one of the dropdowns<br>below to view more info about<br>me, my career, or this website!
            </p>
        </div>
    </div>

    <!--Collapsible list -->
    <div class="wrap-collabsible">
        <input id="collapsible" class="toggle" type="checkbox">
        <label for="collapsible" class="lbl-toggle">Interests</label>
        <div class="collapsible-content">
            <div class="content-inner">
                <div class="tile-1">
                    <h3>Music</h3>
                    <i class="fa-duotone fa-guitar-electric fa-5x"></i>
                    <p class="black-text">
                        I've been playing the drums for over 10 years! Recently picked up guitar as well.
                    </p>
                </div>
                <div class="tile-2">
                    <h3>Learning</h3>
                    <i class="fa-duotone fa-brain-circuit fa-5x"></i>
                    <p class="black-text">
                        "Live as if you were to die tomorrow. Learn as if your were to live forever."
                    </p>
                </div>
                <div class="tile-3">
                    <h3>Finance</h3>
                    <i class="fa-duotone fa-money-bill-1-wave fa-5x"></i>
                    <p class="black-text">
                        What good does earning money do if you don't know how to manage it?
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="wrap-collabsible2">
        <input id="collapsible2" class="toggle2" type="checkbox">
        <label for="collapsible2" class="lbl-toggle2">Career</label>
        <div class="collapsible-content2">
            <div class="content-inner2">
                <div class="timeline-area">
                    <div class="container">
                        <div class="timelines">
                            <h3>Career Timeline</h3>
                        </div>
                        <div class="all-timelines">
                            <div class="single-timeline d-flex-2">
                                <div class="timeline-blank"></div>
                                <div class="timeline-text d-flex-2">
                                    <span>
                                        <p style="color:#00b4d8;">
                                            July 2018
                                        </p>
                                        <p>
                                            Started my career as a<br>Help Desk Intern I at<br>International Game Technology.
                                        </p>
                                    </span>
                                    <div class="t-square"></div>
                                </div>
                            </div>
                            <div class="single-timeline d-flex-2">
                                <div class="timeline-blank"></div>
                                <div class="timeline-text d-flex-2">
                                    <span>
                                        <p style="color:#00b4d8;">
                                            December 2018 
                                        </p>
                                        <p>
                                            Promoted to<br>Help Desk Technician II.
                                        </p>
                                    </span>
                                    <div class="t-square"></div>
                                </div>
                            </div>
                            <div class="single-timeline d-flex-2">
                                <div class="timeline-blank"></div>
                                <div class="timeline-text d-flex-2">
                                    <span>
                                        <p style="color:#55a630;">
                                            February 2019
                                        </p>
                                        <p>
                                            Started university online<br>to finish my bachelors.
                                        </p>
                                    </span>
                                    <div class="t-square"></div>
                                </div>
                            </div>
                            <div class="single-timeline d-flex-2">
                                <div class="timeline-blank"></div>
                                <div class="timeline-text d-flex-2">
                                    <span>
                                        <p style="color:#DA1E37;">
                                            February 2021
                                        </p>
                                        <p>
                                            Received LPI - Linux<br>Foundations certification.
                                        </p>
                                    </span>
                                    <div class="t-square"></div>
                                </div>
                            </div>
                            <div class="single-timeline d-flex-2">
                                <div class="timeline-blank"></div>
                                <div class="timeline-text d-flex-2">
                                    <span>
                                        <p style="color:#55a630;">
                                            March 2021
                                        </p>
                                        <p>
                                            Completed my bachelors<br>in Information Technology from<br>Western Governors University.
                                        </p>
                                    </span>
                                    <div class="t-square"></div>
                                </div>
                            </div>
                            <div class="single-timeline d-flex-2">
                                <div class="timeline-blank"></div>
                                <div class="timeline-text d-flex-2">
                                    <span>
                                        <p style="color:#00b4d8;">
                                            May 2021
                                        </p>
                                        <p>
                                            Started a new role as a<br>Coordinator of Technology <em>(IT Supervisor)</em><br>at the University of Nevada, Reno.
                                        </p>
                                    </span>
                                    <div class="t-square"></div>
                                </div>
                            </div>
                            <div class="single-timeline d-flex-2">
                                <div class="timeline-blank"></div>
                                <div class="timeline-text d-flex-2">
                                    <span>
                                        <p style="color:#DA1E37;">
                                            January 2022                                        
                                        </p>
                                        <p>
                                            Received Google Data<br>Analytics certification.

                                        </p>
                                    </span>
                                    <div class="t-square"></div>
                                </div>
                            </div>
                            <div class="single-timeline d-flex-2">
                                <div class="timeline-blank"></div>
                                <div class="timeline-text d-flex-2">
                                    <span>
                                        <p style="color:#00b4d8;">
                                            February 2022
                                        </p>
                                        <p>
                                            Promoted to a<br>Business Systems Analyst.
                                        </p>
                                    </span>
                                    <div class="t-square"></div>
                                </div>
                            </div>
                            <div class="single-timeline d-flex-2">
                                <div class="timeline-blank"></div>
                                <div class="timeline-text d-flex-2">
                                    <span>
                                        <p style="color:#DA1E37;">
                                            July 2022
                                        </p>
                                        <p>
                                            Received Google Cloud:<br>Associate Cloud Engineer<br>certification.
                                        </p>
                                    </span>
                                    <div class="t-square"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- July 2022 // Received Google Cloud: Associate Cloud Engineer certification. -->
    <div class="wrap-collabsible3">
        <input id="collapsible3" class="toggle3" type="checkbox">
        <label for="collapsible3" class="lbl-toggle3">Website</label>
        <div class="collapsible-content3">
            <div class="content-inner3">
                <div class="tile-1">
                    <h3>Cloud Hosted</h3>
                    <i class="fa-duotone fa-cloud-check fa-5x"></i>
                    <p class="black-text">
                        My website is hosted on Google Cloud, built off of a Docker image.
                    </p>
                </div>
                <div class="tile-2">
                    <h3>Python</h3>
                    <i class="fa-duotone fa-code fa-5x"></i>
                    <p class="black-text">
                        Built off of the Flask framework.
                    </p>
                </div>
                <div class="tile-3">
                    <h3>My Ideas</h3>
                    <i class="fa-duotone fa-lightbulb-on fa-5x"></i>
                    <p class="black-text">
                        This website's main purpose is to showcase my projects.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Start of floating menu button -->
    <div class="action" onclick="actionToggle();">
        <span><i style="padding-top: 0.5rem;" class="fa-light fa-bars fa-2xs"></i></span>
        <ol>
            <li><a class="menu-link" href="https://www.digitalghost.dev">Home</a></li>
            <li><a class="menu-link" href="https://www.digitalghost.dev/projects">Projects</a></li>
        </ol>
    </div>
    <script>
        function actionToggle(){
            var action = document.querySelector('.action');
            action.classList.toggle('active')
        }
    </script>

    <!-- Light-dark theme swticher -->
    <div class="theme-switch-wrapper">
        <label class="theme-switch" for="checkbox">
            <input type="checkbox" id="checkbox" />
            <div class="slider round"></div>
        </label>
    </div>

    <div class="dark-light-icon">
        <i class="fa-solid fa-circle-half-stroke fa-2x"></i>
    </div>

    <script src="{{ url_for('static', filename='scripts/light_dark_theme.js') }}"></script>
    
</body>
</html>
