<html>
<head>
    <link rel="icon" type="image/x-icon" href="https://storage.cloud.google.com/minimalfire-web-app_cloudbuild/favicon/fire-flame-curved-duotone.svg">
    <script src="https://kit.fontawesome.com/84587c6ecd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans|Red Hat Mono">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='pages/about/about.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='floating_button.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='light_dark_theme.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <title>About | christiansanchez.dev</title>
</head>
<body>

    <!-- Top portion of page -->
    <div>
        <div class="navbar">
            <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/csanchezdev/">
                <i class="fa-brands fa-twitter fa-3x"></i>
            </a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/christian-sanchez-nv/">
                <i class="fa-brands fa-linkedin fa-3x"></i>
            </a>
            <a target="_blank" rel="noopener noreferrer" href="https://github.com/SquareHammer89/minimalfire-web-app">
                <i class="fa-brands fa-github fa-3x"></i>
            </a>
        </div>
        <div class="under-navbar">
            <!-- Page title -->
            <div>
                <h1>About</h1>
            </div>
            <!-- Breadtrail -->
            <div class="breadcrumb">
                <ul class="breadcrumb">
                    <li><a href="#">home</a></li>
                    <li style="color:var(--font-color);">about</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Introduction section -->
    <div class="intro">
        <div class="profile">
            <img src="https://storage.googleapis.com/us.artifacts.minimalfire-web-app.appspot.com/memoji.PNG">
            <div class="dot"></div>
        </div>
        <div class="intro-text">
            <h2>
                Curious to learn more?
            </h2>
            <p>
                Click on one of the dropdowns<br>below to view more info about<br>me, my career, or this website!
            </p>
        </div>
    </div>

    <!--Collapsible list -->
    <div class="wrap-collabsible">
        <input id="collapsible" class="toggle" type="checkbox">
        <label for="collapsible" class="lbl-toggle">About me</label>
        <div class="collapsible-content">
            <div class="content-inner">
                <p>
                    placeholder
                </p>
            </div>
        </div>
    </div>
    <div class="wrap-collabsible2">
        <input id="collapsible2" class="toggle2" type="checkbox">
        <label for="collapsible2" class="lbl-toggle2">My Career</label>
        <div class="collapsible-content2">
            <div class="content-inner2">
                <p>
                    placeholder
                </p>
            </div>
        </div>
    </div>
    <div class="wrap-collabsible3">
        <input id="collapsible3" class="toggle3" type="checkbox">
        <label for="collapsible3" class="lbl-toggle3">About this site</label>
        <div class="collapsible-content3">
            <div class="content-inner3">
                <p>
                    placeholder
                </p>
            </div>
        </div>
    </div>

    <!-- Start of floating menu button -->
    <div class="action" onclick="actionToggle();">
        <span><i style="padding-top: 0.5rem;" class="fa-light fa-bars fa-2xs"></i></span>
        <ol>
            <li><a class="menu-link" href="https://www.christiansanchez.dev/about">About</a></li>
            <li><a class="menu-link" href="https://www.christiansanchez.dev/projects">Projects</a></li>
        </ol>
    </div>
    <script>
        function actionToggle(){
            var action = document.querySelector('.action');
            action.classList.toggle('active')
        }
    </script>

    <!-- Light-dark theme swticher -->
    <div class="theme-switch-wrapper">
        <label class="theme-switch" for="checkbox">
            <input type="checkbox" id="checkbox" />
            <div class="slider round"></div>
        </label>
    </div>

    <div class="dark-light-icon">
        <i class="fa-solid fa-circle-half-stroke fa-2x"></i>
    </div>

    <script src="{{ url_for('static', filename='scripts/light_dark_theme.js') }}"></script>
    
</body>
</html>
