<html>
<head>
    <link rel="icon" type="image/x-icon" href="https://storage.cloud.google.com/minimalfire-web-app_cloudbuild/favicon/fire-flame-curved-duotone.svg">
    <script src="https://kit.fontawesome.com/84587c6ecd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans|Red Hat Mono">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='pages/projects/projects.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='pages/projects/cards.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='floating_button.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='light_dark_theme.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <title>Projects | christiansanchez.dev</title>
</head>
<body>

    <!-- Top portion of page -->
    <div>
        <div class="navbar">
            <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/csanchezdev/">
                <i class="fa-brands fa-twitter fa-3x"></i>
            </a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/christian-sanchez-nv/">
                <i class="fa-brands fa-linkedin fa-3x"></i>
            </a>
            <a target="_blank" rel="noopener noreferrer" href="https://github.com/SquareHammer89/minimalfire-web-app">
                <i class="fa-brands fa-github fa-3x"></i>
            </a>
        </div>
        <div class="under-navbar">
            <div class="breadcrumb">
                <ul class="breadcrumb">
                    <li><a href="www.christiansanchez.dev">home</a></li>
                    <li style="color:var(--font-color);">projects</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Welcome message -->
    <div class="introduction-message">
        <div class="welcome-text">    
            <h2>Welcome to my <div class="accent">projects page!</div></h2>
            <h4>Here are all of my projects that I've built<br>or are currently being built.</h4>
        </div>
        <div>
            <img src="https://storage.googleapis.com/us.artifacts.minimalfire-web-app.appspot.com/carbon-2.png">
        </div>
    </div>

    <!-- Python title section -->
    <div class="python-section">
        <h3>Projects built with Python</h3>
        <i class="fa-brands fa-python fa-2x fa-fade"></i>
    </div>

    <div class="card-container">
        <div class="card card-1">
            <h3 class="title">Stock Data</h3>
            <p>This project is like a<br>search engine for<br>stocks!</p>
        </div>

        <div class="card card-2">
            <h3 class="title">In the works</h3>
            <p>Working on<br>something new...</p>
        </div>
        
        <div class="card card-3">
            <h3 class="title">In the works</h3>
            <p>Working on<br>something new...</p>
        </div>
    </div>

    <!-- floating menu button -->
    <div class="action" onclick="actionToggle();">
        <span><i style="padding-top: 10px;" class="fa-light fa-bars fa-2xs"></i></span>
        <ol>
            <li><a style="text-decoration: none; color: #DA1E37" href="https://www.christiansanchez.dev/about">About</a></li>
            <li><a style="text-decoration: none; color: #DA1E37" href="https://www.christiansanchez.dev">Home</a></li>
        </ol>
    </div>
    <script>
        function actionToggle(){
            var action = document.querySelector('.action');
            action.classList.toggle('active')
        }
    </script>

    <!-- Dark theme switcher -->
    <div class="theme-switch-wrapper">
        <label class="theme-switch" for="checkbox">
            <input type="checkbox" id="checkbox" />
            <div class="slider round"></div>
        </label>
    </div>

    <div class="dark-light-icon">
        <i class="fa-solid fa-circle-half-stroke fa-2x"></i>
    </div>
    

    <script src="{{ url_for('static', filename='scripts/light_dark_theme.js') }}"></script>

</body>
</html>
