<html>
<head>
    <link rel="icon" type="image/x-icon" href="https://storage.cloud.google.com/minimalfire-web-app_cloudbuild/favicon/fire-flame-curved-duotone.svg">
    <script src="https://kit.fontawesome.com/84587c6ecd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway|Red Hat Mono">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='pages/projects/projects.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='floating_button.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='light_dark_theme.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <title>Projects | christiansanchez.dev</title>
</head>
<body>
    <!-- floating menu button -->
    <div class="action" onclick="actionToggle();">
        <span><i style="padding-top: 10px;" class="fa-light fa-bars fa-2xs"></i></span>
        <ol>
            <li><a style="text-decoration: none; color: #DA1E37" href="">Home</a></li>
            <li><a style="text-decoration: none; color: #DA1E37" href="/about">About</a></li>
        </ol>
    </div>
    <script>
        function actionToggle(){
            var action = document.querySelector('.action');
            action.classList.toggle('active')
        }
    </script>

    <div class="navbar">
        <h1>| Projects</h1>
    </div>

    <!-- Breadtrail -->
    <div class="breadtrail"><a href="/">home</a> > projects</div>

    <!-- Welcome message -->
    <div class="introduction-message">
        <h2>Welcome to my projects page!</h2>
        <h4>Here are all of my projects that I've built or are currently being built.</h4>
    </div>

    <!-- Python title section -->
    <div class="python-section">
        <h3>Projects built with Python</h3>
        <i class="fa-brands fa-python fa-2x fa-fade"></i>
    </div>

    <!-- Python project section -->
    <div class="python-project-list">
        
        <div class="first-python-project">
            <i class="fa-duotone fa-chart-line-up fa-2x"></i>
            <h3>Stock Data</h3>
            <h5>Search stocks to get insight on your favorite companies</h5>
            <a href="https://www.christiansanchez.dev/projects">
                <button>
                    <p>Take me!</p>
                </button>
            </a>
        </div>

        <div class="second-python-project">
            <i class="fa-duotone fa-wrench fa-2x"></i>
            <h3>Under Construction...</h3>
            <h5>Working on something new!</h5>
            <button>
                <p>I'll take you when I'm ready</p>
            </button>
        </div>

        <div class="third-python-project">
            <i class="fa-duotone fa-wrench fa-2x"></i>
            <h3>Under Construction...</h3>
            <h5>Working on something new!</h5>
            <button>
                <p>I'll take you when I'm ready</p>
            </button>
        </div>
    </div>

    <!-- Dark theme switcher -->
    <div class="theme-switch-wrapper">
        <label class="theme-switch" for="checkbox">
            <input type="checkbox" id="checkbox" />
            <div class="slider round"></div>
        </label>
    </div>

    <div class="dark-light-icon">
        <i class="fa-solid fa-circle-half-stroke fa-2x"></i>
    </div>
    

    <script src="{{ url_for('static', filename='scripts/light_dark_theme.js') }}"></script>

</body>
</html>
