<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="https://storage.cloud.google.com/minimalfire-web-app_cloudbuild/favicon/thought-bubble-light.svg">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/date.js') }}"></script>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='pages/search/search.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='pages/search/popup.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='floating_button.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='light_dark_theme.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <script src="https://kit.fontawesome.com/84587c6ecd.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="icon" type="image/x-icon" href="https://storage.googleapis.com/stock-web-app-334722.appspot.com/favicon.png">
    <title>Search | christiansanchez.dev</title>
</head>
    <body>

        <div class="popup">
            <button id="close">&times;</button>
                <h2>DISCLAIMER</h2>
                <p>
                    I am not a financial advisor. Any information provided by this site should
                    not be considered investment advice or recommendation. I am not responsible 
                    for your investments or financial decisions.
                </p>
        </div>

        <!-- Start of floating menu button -->
        <div class="action" onclick="actionToggle();">
            <span><i style="padding-top: 10px;" class="fa-light fa-bars fa-2xs"></i></span>
            <ol>
                <li><a style="text-decoration: none; color: #DA1E37" href="https://www.christiansanchez.dev/">Home</a></li>
                <li><a style="text-decoration: none; color: #DA1E37" href="https://www.christiansanchez.dev/about">About</a></li>    
            </ol>
        </div>
        <script>
            function actionToggle(){
            var action = document.querySelector('.action');
            action.classList.toggle('active')
            }
        </script>

        <!-- Container 1 is the top navigation part -->
        <div class="container-1">
            <div class="container-1-cell-1">
                <h1>
                    Stock Data Project
                </h1>
            </div>
            
            <div class="container-1-cell-2">
                <form>
                <input class="js-search-box" type="search" placeholder="Enter ticker or company" maxlength="18" font-size="24px">
                </form>
            </div>
        
            <div class="container-1-cell-3">
                <h3>
                    <script>
                        document.write(now)
                    </script>
                </h3>
            </div>
        </div> <!-- End of div for conatiner 1-->
                    
        <!-- Drop-down search menu -->
        <div class="search-results">
            <ul class="js-search-result">
            </ul>
        </div>

        <!-- Light-dark theme swticher -->
        <div class="theme-switch-wrapper">
            <label class="theme-switch" for="checkbox">
                <input type="checkbox" id="checkbox" />
                <div class="slider round"></div>
            </label>
        </div>

        <div class="dark-light-icon">
            <i class="fa-solid fa-circle-half-stroke fa-2x"></i>
        </div>

        <!-- market status -->

        <script src="{{ url_for('static', filename='scripts/light_dark_theme.js') }}"></script>
        <script src="{{ url_for('static', filename='scripts/redgreen.js') }}"></script>
        <script src="{{ url_for('static', filename='scripts/popup.js') }}"></script>
        <script src="{{ url_for('static', filename='scripts/search.js') }}"></script>
        <script src="{{ url_for('static', filename='lodash.js') }}"></script>
    </body>
</html>
